root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.js,*.json,*.yaml,*.vue]
end_of_line = lf
max_line_length = 80
indent_size = 2
indent_style = space

[*.md]
end_of_line = lf

[*.conf]
end_of_line = lf
