/* Gemini */

:root {
  --devsite-ref-palette--ai-analog: #a7edff;
  --devsite-ref-palette--ai-blue: #076eff;
  --devsite-ref-palette--ai-cyan: #4fabff;
  --devsite-ref-palette--ai-lightblue: #b1c5ff;
  --devsite-ref-palette--ai-main: #d7f6ff;
  --devsite-ref-palette--ai-peach: #ffddb7;
  --devsite-ref-palette--black: #000;
  --devsite-ref-palette--blue-grey200: #b0bec5;
  --devsite-ref-palette--blue-grey300: #90a4ae;
  --devsite-ref-palette--blue-grey400: #78909c;
  --devsite-ref-palette--blue-grey500: #607d8b;
  --devsite-ref-palette--blue-grey600: #546e7a;
  --devsite-ref-palette--blue-grey700: #455a64;
  --devsite-ref-palette--blue-grey800: #37474f;
  --devsite-ref-palette--blue-grey900: #263238;
  --devsite-ref-palette--blue100: #d2e3fc;
  --devsite-ref-palette--blue200: #aecbfa;
  --devsite-ref-palette--blue300: #8ab4f8;
  --devsite-ref-palette--blue400: #669df6;
  --devsite-ref-palette--blue50: #e8f0fe;
  --devsite-ref-palette--blue500: #4285f4;
  --devsite-ref-palette--blue600: #1a73e8;
  --devsite-ref-palette--blue700: #1967d2;
  --devsite-ref-palette--blue800: #185abc;
  --devsite-ref-palette--blue900: #174ea6;
  --devsite-ref-palette--cyan100: #cbf0f8;
  --devsite-ref-palette--cyan200: #a1e4f2;
  --devsite-ref-palette--cyan300: #78d9ec;
  --devsite-ref-palette--cyan400: #4ecde6;
  --devsite-ref-palette--cyan50: #e4f7fb;
  --devsite-ref-palette--cyan500: #24c1e0;
  --devsite-ref-palette--cyan600: #12b5cb;
  --devsite-ref-palette--cyan700: #129eaf;
  --devsite-ref-palette--cyan800: #098591;
  --devsite-ref-palette--cyan900: #007b83;
  --devsite-ref-palette--dark-grey: #2a2b2e;
  --devsite-ref-palette--green100: #ceead6;
  --devsite-ref-palette--green200: #a8dab5;
  --devsite-ref-palette--green300: #81c995;
  --devsite-ref-palette--green400: #5bb974;
  --devsite-ref-palette--green50: #e6f4ea;
  --devsite-ref-palette--green500: #34a853;
  --devsite-ref-palette--green600: #1e8e3e;
  --devsite-ref-palette--green700: #188038;
  --devsite-ref-palette--green800: #137333;
  --devsite-ref-palette--green900: #0d652d;
  --devsite-ref-palette--grey100: #f1f3f4;
  --devsite-ref-palette--grey200: #e8eaed;
  --devsite-ref-palette--grey300: #dadce0;
  --devsite-ref-palette--grey400: #bdc1c6;
  --devsite-ref-palette--grey50: #f8f9fa;
  --devsite-ref-palette--grey500: #9aa0a6;
  --devsite-ref-palette--grey600: #80868b;
  --devsite-ref-palette--grey700: #5f6368;
  --devsite-ref-palette--grey800: #3c4043;
  --devsite-ref-palette--grey900: #202124;
  --devsite-ref-palette--indigo100: #c5cae9;
  --devsite-ref-palette--indigo200: #9fa8da;
  --devsite-ref-palette--indigo300: #7986cb;
  --devsite-ref-palette--indigo400: #5c6bc0;
  --devsite-ref-palette--indigo50: #e8eaf6;
  --devsite-ref-palette--indigo500: #3f51b5;
  --devsite-ref-palette--indigo700: #303f9f;
  --devsite-ref-palette--orange100: #fedfc8;
  --devsite-ref-palette--orange200: #fdc69c;
  --devsite-ref-palette--orange300: #fcad70;
  --devsite-ref-palette--orange400: #fa903e;
  --devsite-ref-palette--orange50: #feefe3;
  --devsite-ref-palette--orange500: #fa7b17;
  --devsite-ref-palette--orange600: #e8710a;
  --devsite-ref-palette--orange700: #d56e0c;
  --devsite-ref-palette--orange800: #c26401;
  --devsite-ref-palette--orange900: #b06000;
  --devsite-ref-palette--pink100: #fdcfe8;
  --devsite-ref-palette--pink200: #fba9d6;
  --devsite-ref-palette--pink300: #ff8bcb;
  --devsite-ref-palette--pink400: #ff63b8;
  --devsite-ref-palette--pink50: #fde7f3;
  --devsite-ref-palette--pink500: #f439a0;
  --devsite-ref-palette--pink600: #e52592;
  --devsite-ref-palette--pink700: #d01884;
  --devsite-ref-palette--pink800: #b80672;
  --devsite-ref-palette--pink900: #9c166b;
  --devsite-ref-palette--primary-40: #0b57d0;
  --devsite-ref-palette--primary-80: #a8c7fa;
  --devsite-ref-palette--primary-90: #d3e3fd;
  --devsite-ref-palette--purple100: #e9d2fd;
  --devsite-ref-palette--purple200: #d7aefb;
  --devsite-ref-palette--purple300: #c58af9;
  --devsite-ref-palette--purple400: #af5cf7;
  --devsite-ref-palette--purple50: #f3e8fd;
  --devsite-ref-palette--purple500: #a142f4;
  --devsite-ref-palette--purple600: #9334e6;
  --devsite-ref-palette--purple700: #8430ce;
  --devsite-ref-palette--purple800: #7627bb;
  --devsite-ref-palette--purple900: #681da8;
  --devsite-ref-palette--red100: #fad2cf;
  --devsite-ref-palette--red200: #f6aea9;
  --devsite-ref-palette--red300: #f28b82;
  --devsite-ref-palette--red400: #ee675c;
  --devsite-ref-palette--red50: #fce8e6;
  --devsite-ref-palette--red500: #ea4335;
  --devsite-ref-palette--red600: #d93025;
  --devsite-ref-palette--red700: #c5221f;
  --devsite-ref-palette--red800: #b31412;
  --devsite-ref-palette--red900: #a50e0e;
  --devsite-ref-palette--secondary-10: #001d35;
  --devsite-ref-palette--secondary-90: #c2e7ff;
  --devsite-ref-palette--teal100: #b2dfdb;
  --devsite-ref-palette--teal200: #80cbc4;
  --devsite-ref-palette--teal300: #4db6ac;
  --devsite-ref-palette--teal400: #26a69a;
  --devsite-ref-palette--teal50: #e0f2f1;
  --devsite-ref-palette--teal500: #009688;
  --devsite-ref-palette--teal600: #00897b;
  --devsite-ref-palette--teal700: #00796b;
  --devsite-ref-palette--white: #fff;
  --devsite-ref-palette--yellow100: #feefc3;
  --devsite-ref-palette--yellow200: #fde293;
  --devsite-ref-palette--yellow300: #fdd663;
  --devsite-ref-palette--yellow400: #fcc934;
  --devsite-ref-palette--yellow50: #fef7e0;
  --devsite-ref-palette--yellow500: #fbbc04;
  --devsite-ref-palette--yellow600: #f9ab00;
  --devsite-ref-palette--yellow700: #f29900;
  --devsite-ref-palette--yellow800: #ea8600;
  --devsite-ref-palette--yellow900: #e37400;
  --devsite-ref-palette-non-endorsed--alice-blue: #5fc8f8;
  --devsite-ref-palette-non-endorsed--amber-orange: #ffa000;
  --devsite-ref-palette-non-endorsed--bright-pink: #e20074;
  --devsite-ref-palette-non-endorsed--bright-red: red;
  --devsite-ref-palette-non-endorsed--bright-yellow: #fcd637;
  --devsite-ref-palette-non-endorsed--burnt-orange: #d15337;
  --devsite-ref-palette-non-endorsed--dark-brown: #40251f;
  --devsite-ref-palette-non-endorsed--dark-cyan: #283142;
  --devsite-ref-palette-non-endorsed--dark-web-orange: #fd8c09;
  --devsite-ref-palette-non-endorsed--darkblue800: #0b2e59;
  --devsite-ref-palette-non-endorsed--deep-orange200: #ffab91;
  --devsite-ref-palette-non-endorsed--deep-orange500: #ff5722;
  --devsite-ref-palette-non-endorsed--deep-orange700: #e64a19;
  --devsite-ref-palette-non-endorsed--deep-purple200: #e1bee7;
  --devsite-ref-palette-non-endorsed--deep-purple400: #7e57c2;
  --devsite-ref-palette-non-endorsed--deep-purple700: #512da8;
  --devsite-ref-palette-non-endorsed--deep-purple900: #50157f;
  --devsite-ref-palette-non-endorsed--deepsky-blue: #00b0ff;
  --devsite-ref-palette-non-endorsed--dusk-grey: #979797;
  --devsite-ref-palette-non-endorsed--dust-purple700: #9d75ab;
  --devsite-ref-palette-non-endorsed--fuscia-pink: #e91e63;
  --devsite-ref-palette-non-endorsed--green600: #43a047;
  --devsite-ref-palette-non-endorsed--grey350: #ddd;
  --devsite-ref-palette-non-endorsed--grey750: #4e5256;
  --devsite-ref-palette-non-endorsed--grey850: #36373a;
  --devsite-ref-palette-non-endorsed--light-blue400: #29b6f6;
  --devsite-ref-palette-non-endorsed--light-blue500: #03a9f4;
  --devsite-ref-palette-non-endorsed--light-blue600: #039be5;
  --devsite-ref-palette-non-endorsed--light-blue700: #0288d1;
  --devsite-ref-palette-non-endorsed--light-blue800: #0277bd;
  --devsite-ref-palette-non-endorsed--light-green200: #c5e1a5;
  --devsite-ref-palette-non-endorsed--light-green400: #9ccc65;
  --devsite-ref-palette-non-endorsed--light-green500: #8bc34a;
  --devsite-ref-palette-non-endorsed--light-green700: #689f38;
  --devsite-ref-palette-non-endorsed--light-red: #ff8080;
  --devsite-ref-palette-non-endorsed--lime-bright: #eeff41;
  --devsite-ref-palette-non-endorsed--lime-green: #aed581;
  --devsite-ref-palette-non-endorsed--lite-slate-blue: #a5c1d4;
  --devsite-ref-palette-non-endorsed--node-green: #00c853;
  --devsite-ref-palette-non-endorsed--orange-burst: #ff6e40;
  --devsite-ref-palette-non-endorsed--pacific-cyan: #16aaca;
  --devsite-ref-palette-non-endorsed--rose-red: #c52062;
  --devsite-ref-palette-non-endorsed--slate-lite: #f5f6f7;
  --devsite-ref-palette-non-endorsed--soft-blue: #458ae5;
  --devsite-ref-palette-non-endorsed--vivid-orange: #ff9100;
  --devsite-ref-palette-non-endorsed--yellow-highlight: #ffe168;
  --devsite-ref-palette-tenant--actifio-orange200: #eba495;
  --devsite-ref-palette-tenant--actifio-orange500: #d6492a;
  --devsite-ref-palette-tenant--actifio-orange800: #c63119;
  --devsite-ref-palette-tenant--actifio-theme: #e96d1f;
  --devsite-ref-palette-tenant--android-accent100: #efffc3;
  --devsite-ref-palette-tenant--android-accent500: #c6ff00;
  --devsite-ref-palette-tenant--android-accessible-blue: #1769e0;
  --devsite-ref-palette-tenant--android-black: #000;
  --devsite-ref-palette-tenant--android-blue-100: #d2e3fc;
  --devsite-ref-palette-tenant--android-blue-200: #aecbfa;
  --devsite-ref-palette-tenant--android-blue-25: #f6fbff;
  --devsite-ref-palette-tenant--android-blue-300: #4285f4;
  --devsite-ref-palette-tenant--android-blue-400: #356ac3;
  --devsite-ref-palette-tenant--android-blue-50: #e8f0fe;
  --devsite-ref-palette-tenant--android-blue-500: #174ea6;
  --devsite-ref-palette-tenant--android-blue-600: #164590;
  --devsite-ref-palette-tenant--android-blue-700: #15305c;
  --devsite-ref-palette-tenant--android-blue-800: #132137;
  --devsite-ref-palette-tenant--android-blue-900: #131924;
  --devsite-ref-palette-tenant--android-blue-dark: #1156d8;
  --devsite-ref-palette-tenant--android-blue-dark-theme: #152949;
  --devsite-ref-palette-tenant--android-chartreuse-100: #efffc3;
  --devsite-ref-palette-tenant--android-chartreuse-500: #c6ff00;
  --devsite-ref-palette-tenant--android-chartreuse-600: #a2d004;
  --devsite-ref-palette-tenant--android-chartreuse-900: #323d0f;
  --devsite-ref-palette-tenant--android-dark-green: #00a956;
  --devsite-ref-palette-tenant--android-green: #3ddc84;
  --devsite-ref-palette-tenant--android-green-100: #ceead6;
  --devsite-ref-palette-tenant--android-green-200: #a8dab5;
  --devsite-ref-palette-tenant--android-green-25: #f4f9f5;
  --devsite-ref-palette-tenant--android-green-300: #34a853;
  --devsite-ref-palette-tenant--android-green-50: #e6f4ea;
  --devsite-ref-palette-tenant--android-green-500: #2a8642;
  --devsite-ref-palette-tenant--android-green-600: #0d652d;
  --devsite-ref-palette-tenant--android-green-700: #103c20;
  --devsite-ref-palette-tenant--android-green-800: #112719;
  --devsite-ref-palette-tenant--android-green-900: #111c15;
  --devsite-ref-palette-tenant--android-green-dark-theme: #134229;
  --devsite-ref-palette-tenant--android-green-light: #8cd9ae;
  --devsite-ref-palette-tenant--android-grey-100: #f1f3f4;
  --devsite-ref-palette-tenant--android-grey-1000: #121212;
  --devsite-ref-palette-tenant--android-grey-200: #e8eaed;
  --devsite-ref-palette-tenant--android-grey-300: #dadce0;
  --devsite-ref-palette-tenant--android-grey-50: #f8f9fa;
  --devsite-ref-palette-tenant--android-grey-600: #80868b;
  --devsite-ref-palette-tenant--android-grey-700: #5f6368;
  --devsite-ref-palette-tenant--android-grey-800: #3c4043;
  --devsite-ref-palette-tenant--android-grey-900: #202124;
  --devsite-ref-palette-tenant--android-grey900: #2b2b2b;
  --devsite-ref-palette-tenant--android-hunter-green: #6a8759;
  --devsite-ref-palette-tenant--android-illustration-green: #00b975;
  --devsite-ref-palette-tenant--android-light-blue: #d7effe;
  --devsite-ref-palette-tenant--android-light-blue-dark: #cdebfe;
  --devsite-ref-palette-tenant--android-light-blue-dark-theme: #1d2532;
  --devsite-ref-palette-tenant--android-light-green: #eff7cf;
  --devsite-ref-palette-tenant--android-light-green-dark: #ebf5c3;
  --devsite-ref-palette-tenant--android-light-green-dark-theme: #363637;
  --devsite-ref-palette-tenant--android-light-navy: #0d4c67;
  --devsite-ref-palette-tenant--android-medium-green: #bbb529;
  --devsite-ref-palette-tenant--android-medium-grey: #a59d97;
  --devsite-ref-palette-tenant--android-medium-slate-blue: #6897bb;
  --devsite-ref-palette-tenant--android-navy: #073042;
  --devsite-ref-palette-tenant--android-pale-blue: #ebf7fe;
  --devsite-ref-palette-tenant--android-pale-blue-dark: #e5f5fe;
  --devsite-ref-palette-tenant--android-pale-blue-dark-theme: #162031;
  --devsite-ref-palette-tenant--android-pale-blue50: #f6fbff;
  --devsite-ref-palette-tenant--android-pale-green50: #f4f9f5;
  --devsite-ref-palette-tenant--android-white: #fff;
  --devsite-ref-palette-tenant--android-yellow400: #ffc66d;
  --devsite-ref-palette-tenant--apigee-blue200: #8ab4dd;
  --devsite-ref-palette-tenant--apigee-blue500: #1568ba;
  --devsite-ref-palette-tenant--apigee-orange200: #ee9981;
  --devsite-ref-palette-tenant--apigee-orange400: #e25229;
  --devsite-ref-palette-tenant--apigee-orange500: #dd3303;
  --devsite-ref-palette-tenant--apigee-orange700: #d42702;
  --devsite-ref-palette-tenant--bazel-green300: #44a147;
  --devsite-ref-palette-tenant--bazel-green500: #0c713a;
  --devsite-ref-palette-tenant--bazel-green800: #1e431e;
  --devsite-ref-palette-tenant--cel-blue300: #394457;
  --devsite-ref-palette-tenant--cel-blue400: #465670;
  --devsite-ref-palette-tenant--cel-mauve25: #f0eded;
  --devsite-ref-palette-tenant--cel-mauve300: #948cc2;
  --devsite-ref-palette-tenant--cel-mauve400: #c3bbf2;
  --devsite-ref-palette-tenant--cel-mauve50: #e8e6e6;
  --devsite-ref-palette-tenant--cel-mauve500: #d1cbf5;
  --devsite-ref-palette-tenant--cel-mauve600: #674049;
  --devsite-ref-palette-tenant--cel-mauve700: #59373f;
  --devsite-ref-palette-tenant--cel-mauve800: #4d2f36;
  --devsite-ref-palette-tenant--chrome-blue: #006bee;
  --devsite-ref-palette-tenant--chrome-blue-light: #83bbff;
  --devsite-ref-palette-tenant--chrome-green: #4da949;
  --devsite-ref-palette-tenant--chrome-grey-light: #e1e9f6;
  --devsite-ref-palette-tenant--chrome-grey-medium: #afb2b6;
  --devsite-ref-palette-tenant--chrome-lime-green: #16d867;
  --devsite-ref-palette-tenant--chrome-primary-dark: #70b1ff;
  --devsite-ref-palette-tenant--chrome-red: #ea3323;
  --devsite-ref-palette-tenant--chrome-yellow: #f5b840;
  --devsite-ref-palette-tenant--cloud-facebook: #3b5998;
  --devsite-ref-palette-tenant--cloud-legacy-grey400: #afbec5;
  --devsite-ref-palette-tenant--cloud-linkedin: #007bb6;
  --devsite-ref-palette-tenant--cloud-orange-905: #b05a00;
  --devsite-ref-palette-tenant--cloud-sky: #0143a3;
  --devsite-ref-palette-tenant--cloud-twitter: #4099ff;
  --devsite-ref-palette-tenant--firebase-coral: #ff8a65;
  --devsite-ref-palette-tenant--firebase-grey: #e5eaf0;
  --devsite-ref-palette-tenant--firebase-icy: #a8c7fa;
  --devsite-ref-palette-tenant--firebase-lite-orange: #ffc4b1;
  --devsite-ref-palette-tenant--firebase-navy600: #1b3a57;
  --devsite-ref-palette-tenant--firebase-navy700: #0c2d48;
  --devsite-ref-palette-tenant--firebase-navy900: #031525;
  --devsite-ref-palette-tenant--firebase-orange: #f57c00;
  --devsite-ref-palette-tenant--firebase-primary30: #0842a0;
  --devsite-ref-palette-tenant--firebase-red600: #e03600;
  --devsite-ref-palette-tenant--firebase-silver: #cecece;
  --devsite-ref-palette-tenant--firebase-vivid-orange200: #ff9200;
  --devsite-ref-palette-tenant--firebase-yellow-900: #d97917;
  --devsite-ref-palette-tenant--firebase-yellow400: #ffc400;
  --devsite-ref-palette-tenant--firebase-yellow500: #ffaf01;
  --devsite-ref-palette-tenant--fuchsia-black: #283238;
  --devsite-ref-palette-tenant--fuchsia-green: #13b294;
  --devsite-ref-palette-tenant--fuchsia-teal: #e0f8f3;
  --devsite-ref-palette-tenant--home-blue200: #cae8ef;
  --devsite-ref-palette-tenant--home-blue50: #eaf6f9;
  --devsite-ref-palette-tenant--home-blue500: #86c9ef;
  --devsite-ref-palette-tenant--home-blue700: #1d7db3;
  --devsite-ref-palette-tenant--home-blue800: #00639b;
  --devsite-ref-palette-tenant--home-blue900: #0c333c;
  --devsite-ref-palette-tenant--home-green200: #cfebda;
  --devsite-ref-palette-tenant--home-green50: #e2f1ea;
  --devsite-ref-palette-tenant--home-green500: #60c0b2;
  --devsite-ref-palette-tenant--home-green700: #3e766d;
  --devsite-ref-palette-tenant--home-green900: #1f302d;
  --devsite-ref-palette-tenant--home-orange200: #ffecd8;
  --devsite-ref-palette-tenant--home-orange50: #fbefec;
  --devsite-ref-palette-tenant--home-orange500: #ffcbaa;
  --devsite-ref-palette-tenant--home-orange700: #ff8569;
  --devsite-ref-palette-tenant--home-orange900: #301915;
  --devsite-ref-palette-tenant--home-purple200: #e4c9e0;
  --devsite-ref-palette-tenant--home-purple50: #f9e9f6;
  --devsite-ref-palette-tenant--home-purple500: #c798d6;
  --devsite-ref-palette-tenant--home-purple900: #3b2c41;
  --devsite-ref-palette-tenant--home-yellow200: #ffedbd;
  --devsite-ref-palette-tenant--home-yellow50: #fffaf0;
  --devsite-ref-palette-tenant--home-yellow500: #f2bd69;
  --devsite-ref-palette-tenant--home-yellow700: #e59849;
  --devsite-ref-palette-tenant--home-yellow900: #341811;
  --devsite-ref-palette-tenant--intrinsic-dark-purple: #5431a8;
  --devsite-ref-palette-tenant--intrinsic-light-grey: #eee;
  --devsite-ref-palette-tenant--intrinsic-light-purple: #a986fd;
  --devsite-ref-palette-tenant--intrinsic-purple: #7e4afc;
  --devsite-ref-palette-tenant--nest-blue200: #80d7ec;
  --devsite-ref-palette-tenant--nest-blue500: #00afd8;
  --devsite-ref-palette-tenant--nest-blue800: #0096c8;
  --devsite-ref-palette-tenant--openthread-blue200: #89a2bb;
  --devsite-ref-palette-tenant--openthread-blue400: #36618b;
  --devsite-ref-palette-tenant--openthread-blue500: #134576;
  --devsite-ref-palette-tenant--openweave-blue: #04adc9;
  --devsite-ref-palette-tenant--openweave-blue400: #4fc6d9;
  --devsite-ref-palette-tenant--openweave-blue800: #0293b5;
  --devsite-ref-palette-tenant--openweave-blue200: #82d6e4;
  --devsite-ref-palette-tenant--openxla-blue02: #6fb6e0;
  --devsite-ref-palette-tenant--openxla-navy: #1a344c;
  --devsite-ref-palette-tenant--quantum-yellow200: #fff9e4;
  --devsite-ref-palette-tenant--quantum-yellow500: #fff2c8;
  --devsite-ref-palette-tenant--stadia-plum200: #cd80b1;
  --devsite-ref-palette-tenant--stadia-plum300: #d04791;
  --devsite-ref-palette-tenant--stadia-plum500: #9b0063;
  --devsite-ref-palette-tenant--stadia-plum700: #680039;
  --devsite-ref-palette-tenant--tensorflow-amber200: #ffb780;
  --devsite-ref-palette-tenant--tensorflow-amber500: #ff6f00;
  --devsite-ref-palette-tenant--tensorflow-gray-light: #e6e6e6;
  --devsite-ref-palette-tenant--tensorflow-slate: #425066;
  --devsite-ref-palette-tenant--tensorflow-slate-dark: #293241;
  --devsite-ref-palette-tenant--tensorflow-slate-medium: #677282;
  --devsite-ref-palette-tenant--waymo-dark: #00b46e;
  --devsite-ref-palette-tenant--waymo-light: #66ffce;
  --devsite-ref-palette-tenant--waymo-primary: #00e89d;
  --devsite-ref-palette-tenant--webdev-primary: #3740ff;
  --devsite-ref-palette-tenant--webdev-primary-dark: #9ba0ff;
  --devsite-ref-palette-tenant--webdev-secondary: #e51661;
  --devsite-ref-palette-tenant--webdev-stroke: #d2d3d7;
  --devsite-ref-palette-tenant--webdev-tertiary: #6001ff;
  --devsite-ref-palette-tenant--wing-dusk: #3c3c3c;
  --devsite-ref-palette-tenant--wing-yellow-accent: #fff562;
  --devsite-ref-palette-tenant--wing-yellow-dark-theme: #feeb9b;
  --devsite-ref-palette-tenant--youtube-red700: #c20000;
  --devsite-ref-palette-tenant--chrome-primary: var(
    --devsite-ref-palette--blue600
  );
  --devsite-ref-palette-tenant--firebase-amber: var(
    --devsite-ref-palette-non-endorsed--amber-orange
  );
  --devsite-ref-palette-tenant--firebase-vivid-orange100: var(
    --devsite-ref-palette-non-endorsed--vivid-orange
  );
  --devsite-ref-palette-tenant--home-purple700: var(
    --devsite-ref-palette-non-endorsed--dust-purple700
  );
  --devsite-ref-palette-tenant--openthread-blue800: var(
    --devsite-ref-palette-non-endorsed--darkblue800
  );
  --devsite-ref-palette-tenant--openxla-blue01: var(
    --devsite-ref-palette-non-endorsed--soft-blue
  );
  --devsite-ref-palette-tenant--tensorflow-orange: var(
    --devsite-ref-palette-non-endorsed--vivid-orange
  );
  --devsite-ref-palette-tenant--tensorflow-slate-lightest: var(
    --devsite-ref-palette-non-endorsed--slate-lite
  );
  --devsite-ref-palette-tenant--wing-dusk-accent: var(
    --devsite-ref-palette-non-endorsed--dusk-grey
  );
  --devsite-ref-palette-tenant--wing-yellow: var(
    --devsite-ref-palette-non-endorsed--bright-yellow
  );
  --devsite-ref-palette-tenant--youtube-red200: var(
    --devsite-ref-palette-non-endorsed--light-red
  );
  --devsite-ref-palette-tenant--youtube-red500: var(
    --devsite-ref-palette-non-endorsed--bright-red
  );

  --gemini-color-white: rgb(255 255 255);
  --gemini-color-grey-50: #f7f9fd;
  --gemini-color-grey-100: #f0f3f8;
  --gemini-color-grey-200: #d2d8e4;
  --gemini-color-grey-300: #b7becf;
  --gemini-color-grey-400: #939db6;
  --gemini-color-grey-500: #828fb1;
  --gemini-color-grey-600: #2f3543;
  --gemini-color-grey-700: #1b212d;
  --gemini-color-grey-800: #161823;
  --gemini-color-grey-900: #060606;
  --gemini-color-black: rgb(0 0 0);
  --gemini-color-gemini-peach: #FFDDB7;
  --gemini-color-gemini-blue: #368EFE;
  --gemini-color-gemini-cyan: #4FABFF;
  --gemini-color-gemini-light-blue: #B1C5FF;
  --gemini-color-gemini-white: var(--gemini-color-white);
  --gemini-color-gemini-grey-700: #5F6368;
  --gemini-color-gemini-grey-900: #202124;
  --gemini-color-blue: #368efe;
  --gemini-color-purple-100: #ac87eb;
  --gemini-color-red-200: #ee4d5d;
  --gemini-color-green-800: #137333;
  --gemini-color-blue-800: #185ABC;
  --gemini-color-blue-gradient: linear-gradient(61deg, #64b8fb 6.28%, #217bfe 76.97%);
  --gemini-color-pink-gradient: linear-gradient(90deg, #a485fa -104.88%, var(--gemini-color-red-200) 198.78%);
  --gemini-color-logo-gradient: linear-gradient(90deg, #217bfe 0%, #078efb 33.53%, #ac87eb 70%, #ee4d5d 100%);
  --gemini-color-primary-button-gradient: linear-gradient(52deg, #0844ff 11.5%, #64b8fb 129.52%);
  --gemini-color-chart-gradient: linear-gradient(105deg, #446eff 18.71%, #2e96ff 49.8%, #b1c5ff 90.55%);
  --gemini-color-foreground: var(--gemini-color-white);
  --gemini-color-background: var(--gemini-color-grey-900);
  --gemini-branding-button-gradient: linear-gradient(15deg, #217BFE 1.02%, #078EFB 28.51%, #A190FF 80.14%, #BD99FE 102.85%);
  --gemini-branding-text-gradient: linear-gradient(90deg, #217BFE 0%, #078EFB 33.53%, #AC87EB 67.74%, #EE4D5D 100%);
  --gemini-gradient-linear-colors: var(--gemini-color-gemini-blue) 5.96%, var(--gemini-color-gemini-cyan) 56.89%, var(--gemini-color-gemini-light-blue) 93.53%;
  --gemini-gradient-linear: linear-gradient(53deg, #0260FF 9.29%, #40A2FF 48.23%, #A8BEFF 82.56%);
  --gemini-text-gradient-light-blue: linear-gradient(69deg, #AABDF4 16.42%, #FFF 77.56%, #A8BEFF 124.91%);
}

.dark [data-theme="dark"] {
  --nextui-background: 214 99% 60% !important;
  --nextui-foreground-50: var(--gemini-color-grey-900) !important;
  --nextui-foreground-100: var(--gemini-color-grey-800) !important;
  --nextui-foreground-200: var(--gemini-color-grey-700) !important;
  --nextui-foreground-300: var(--gemini-color-grey-600) !important;
  --nextui-foreground-400: var(--gemini-color-grey-500) !important;
  --nextui-foreground-500: var(--gemini-color-grey-400) !important;
  --nextui-foreground-600: var(--gemini-color-grey-300) !important;
  --nextui-foreground-700: var(--gemini-color-grey-200) !important;
  --nextui-foreground-800: var(--gemini-color-grey-100) !important;
  --nextui-foreground-900: var(--gemini-color-grey-50) !important;
  --nextui-foreground: 214 99% 60% !important;
  --nextui-focus: 214 99% 60% !important;
  --nextui-overlay: 223 23% 60% !important;
  --nextui-divider: 0 0% 100% !important;
  --nextui-divider-opacity: 0.15 !important;
  --nextui-content1: var(--gemini-color-grey-600) !important;
  --nextui-content1-foreground: var(--gemini-color-blue) !important;
  --nextui-content2: var(--gemini-color-grey-700) !important;
  --nextui-content2-foreground: var(--gemini-color-blue) !important;
  --nextui-content3: var(--gemini-color-grey-800) !important;
  --nextui-content3-foreground: var(--gemini-color-blue) !important;
  --nextui-content4: var(--gemini-color-grey-900) !important;
  --nextui-content4-foreground: var(--gemini-color-blue) !important;
  --nextui-default-50: 0 0% 2% !important;
  --nextui-default-100: 231 23% 11% !important;
  --nextui-default-200: 220 25% 14% !important;
  --nextui-default-300: 222 18% 22% !important;
  --nextui-default-400: 223 23% 60% !important;
  --nextui-default-500: 223 19% 65% !important;
  --nextui-default-600: 222 20% 76% !important;
  --nextui-default-700: 220 25% 86% !important;
  --nextui-default-800: 218 36% 96% !important;
  --nextui-default-900: 220 60% 98% !important;
  --nextui-default-foreground: 0 0% 100% !important;
  --nextui-default: 0 0% 100% !important;
  --nextui-primary-50: 220 60% 98% !important;
  --nextui-primary-100: 218 36% 96% !important;
  --nextui-primary-200: 220 25% 86% !important;
  --nextui-primary-300: 212 100% 38.43% !important;
  --nextui-primary-400: 212 100% 46.67% !important;
  --nextui-primary-500: 212 92.45% 58.43% !important;
  --nextui-primary-600: 212 92.45% 68.82% !important;
  --nextui-primary-700: 211 92.45% 79.22% !important;
  --nextui-primary-800: 211 92.45% 89.61% !important;
  --nextui-primary-900: 212 92.31% 94.9% !important;
  --nextui-primary-foreground: 0 0% 100% !important;
  --nextui-primary: 214 99% 60% !important;
  --nextui-secondary-50: 223 23% 60% !important;
  --nextui-secondary-100: 223 23% 60% !important;
  --nextui-secondary-200: 270 66.67% 28.24% !important;
  --nextui-secondary-300: 270 66.67% 37.65% !important;
  --nextui-secondary-400: 270 66.67% 47.06% !important;
  --nextui-secondary-500: 270 59.26% 57.65% !important;
  --nextui-secondary-600: 270 59.26% 68.24% !important;
  --nextui-secondary-700: 270 59.26% 78.82% !important;
  --nextui-secondary-800: 270 59.26% 89.41% !important;
  --nextui-secondary-900: 270 61.54% 94.9% !important;
  --nextui-secondary-foreground: 0 0% 100% !important;
  --nextui-secondary: 270 59.26% 57.65% !important;
  --nextui-success-50: 145 77.78% 8.82% !important;
  --nextui-success-100: 146 79.78% 17.45% !important;
  --nextui-success-200: 145 79.26% 26.47% !important;
  --nextui-success-300: 146 79.89% 35.1% !important;
  --nextui-success-400: 145 79.46% 43.92% !important;
  --nextui-success-500: 146 62.45% 55.1% !important;
  --nextui-success-600: 145 62.57% 66.47% !important;
  --nextui-success-700: 146 61.74% 77.45% !important;
  --nextui-success-800: 145 61.4% 88.82% !important;
  --nextui-success-900: 146 64.29% 94.51% !important;
  --nextui-success-foreground: 0 0% 0% !important;
  --nextui-success: 145 79.46% 43.92% !important;
  --nextui-warning-50: 37 75% 10.98% !important;
  --nextui-warning-100: 37 75% 21.96% !important;
  --nextui-warning-200: 36 73.96% 33.14% !important;
  --nextui-warning-300: 37 74.22% 44.12% !important;
  --nextui-warning-400: 37 91.27% 55.1% !important;
  --nextui-warning-500: 37 91.26% 64.12% !important;
  --nextui-warning-600: 36 91.24% 73.14% !important;
  --nextui-warning-700: 37 91.3% 81.96% !important;
  --nextui-warning-800: 37 91.3% 90.98% !important;
  --nextui-warning-900: 54 91.67% 95.29% !important;
  --nextui-warning-foreground: 0 0% 0% !important;
  --nextui-warning: 37 91.27% 55.1% !important;
  --nextui-danger-50: 340 84.91% 10.39% !important;
  --nextui-danger-100: 339 86.54% 20.39% !important;
  --nextui-danger-200: 339 85.99% 30.78% !important;
  --nextui-danger-300: 339 86.54% 40.78% !important;
  --nextui-danger-400: 339 90.36% 51.18% !important;
  --nextui-danger-500: 339 90% 60.78% !important;
  --nextui-danger-600: 339 90.6% 70.78% !important;
  --nextui-danger-700: 339 90% 80.39% !important;
  --nextui-danger-800: 340 91.84% 90.39% !important;
  --nextui-danger-900: 339 92% 95.1% !important;
  --nextui-danger-foreground: 0 0% 100% !important;
  --nextui-danger: 339 90.36% 51.18% !important;
  --nextui-divider-weight: 1px !important;
  --nextui-disabled-opacity: 0.5 !important;
  --nextui-font-size-tiny: 0.75rem !important;
  --nextui-font-size-small: 0.875rem !important;
  --nextui-font-size-medium: 1rem !important;
  --nextui-font-size-large: 1.125rem !important;
  --nextui-line-height-tiny: 1rem !important;
  --nextui-line-height-small: 1.25rem !important;
  --nextui-line-height-medium: 1.5rem !important;
  --nextui-line-height-large: 1.75rem !important;
  --nextui-radius-small: 8px !important;
  --nextui-radius-medium: 12px !important;
  --nextui-radius-large: 14px !important;
  --nextui-border-width-small: 1px !important;
  --nextui-border-width-medium: 2px !important;
  --nextui-border-width-large: 3px !important;
  --nextui-box-shadow-small: 0px 0px 5px 0px rgb(0 0 0 / 0.05) 0px 2px 10px 0px
    rgb(0 0 0 / 0.2) inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --nextui-box-shadow-medium: 0px 0px 15px 0px rgb(0 0 0 / 0.06) 0px 2px 30px
    0px rgb(0 0 0 / 0.22) inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --nextui-box-shadow-large: 0px 0px 30px 0px rgb(0 0 0 / 0.07) 0px 30px 60px
    0px rgb(0 0 0 / 0.26) inset 0px 0px 1px 0px rgb(255 255 255 / 0.15) !important;
  --nextui-hover-opacity: 0.9 !important;
}

.light [data-theme="light"] {
  color-scheme: light !important;
  --nextui-background: 0 0% 100% !important;
  --nextui-foreground-50: 0 0% 98.04% !important;
  --nextui-foreground-100: 240 4.76% 95.88% !important;
  --nextui-foreground-200: 240 5.88% 90% !important;
  --nextui-foreground-300: 240 4.88% 83.92% !important;
  --nextui-foreground-400: 240 5.03% 64.9% !important;
  --nextui-foreground-500: 240 3.83% 46.08% !important;
  --nextui-foreground-600: 240 5.2% 33.92% !important;
  --nextui-foreground-700: 240 5.26% 26.08% !important;
  --nextui-foreground-800: 240 3.7% 15.88% !important;
  --nextui-foreground-900: 240 5.88% 10% !important;
  --nextui-foreground: 201 24.44% 8.82% !important;
  --nextui-divider: 0 0% 6.67% !important;
  --nextui-divider-opacity: 0.15 !important;
  --nextui-focus: 212 100% 46.67% !important;
  --nextui-overlay: 0 0% 0% !important;
  --nextui-content1: 0 0% 100% !important;
  --nextui-content1-foreground: 201.81999999999994 24.44% 8.82% !important;
  --nextui-content2: 240 4.76% 95.88% !important;
  --nextui-content2-foreground: 240 3.7% 15.88% !important;
  --nextui-content3: 240 5.88% 90% !important;
  --nextui-content3-foreground: 240 5.26% 26.08% !important;
  --nextui-content4: 240 4.88% 83.92% !important;
  --nextui-content4-foreground: 240 5.2% 33.92% !important;
  --nextui-default-50: 0 0% 98.04% !important;
  --nextui-default-100: 240 4.76% 95.88% !important;
  --nextui-default-200: 240 5.88% 90% !important;
  --nextui-default-300: 240 4.88% 83.92% !important;
  --nextui-default-400: 240 5.03% 64.9% !important;
  --nextui-default-500: 240 3.83% 46.08% !important;
  --nextui-default-600: 240 5.2% 33.92% !important;
  --nextui-default-700: 240 5.26% 26.08% !important;
  --nextui-default-800: 240 3.7% 15.88% !important;
  --nextui-default-900: 240 5.88% 10% !important;
  --nextui-default-foreground: 0 0% 0% !important;
  --nextui-default: 240 4.88% 83.92% !important;
  --nextui-primary-50: 212.5 92.31% 94.9% !important;
  --nextui-primary-100: 211 92.45% 89.61% !important;
  --nextui-primary-200: 211 92.45% 79.22% !important;
  --nextui-primary-300: 212 92.45% 68.82% !important;
  --nextui-primary-400: 212 92.45% 58.43% !important;
  --nextui-primary-500: 212 100% 46.67% !important;
  --nextui-primary-600: 212 100% 38.43% !important;
  --nextui-primary-700: 212 100% 28.82% !important;
  --nextui-primary-800: 211 100% 19.22% !important;
  --nextui-primary-900: 211 100% 9.61% !important;
  --nextui-primary-foreground: 0 0% 100% !important;
  --nextui-primary: 212 100% 46.67% !important;
  --nextui-secondary-50: 270 61.54% 94.9% !important;
  --nextui-secondary-100: 270 59.26% 89.41% !important;
  --nextui-secondary-200: 270 59.26% 78.82% !important;
  --nextui-secondary-300: 270 59.26% 68.24% !important;
  --nextui-secondary-400: 270 59.26% 57.65% !important;
  --nextui-secondary-500: 270 66.67% 47.06% !important;
  --nextui-secondary-600: 270 66.67% 37.65% !important;
  --nextui-secondary-700: 270 66.67% 28.24% !important;
  --nextui-secondary-800: 270 66.67% 18.82% !important;
  --nextui-secondary-900: 270 66.67% 9.41% !important;
  --nextui-secondary-foreground: 0 0% 100% !important;
  --nextui-secondary: 270 66.67% 47.06% !important;
  --nextui-success-50: 16.42% 64.29% 94.51% !important;
  --nextui-success-100: 145 61.4% 88.82% !important;
  --nextui-success-200: 146.2 61.74% 77.45% !important;
  --nextui-success-300: 145 62.57% 66.47% !important;
  --nextui-success-400: 146 62.45% 55.1% !important;
  --nextui-success-500: 145 79.46% 43.92% !important;
  --nextui-success-600: 146 79.89% 35.1% !important;
  --nextui-success-700: 145 79.26% 26.47% !important;
  --nextui-success-800: 146.2 79.78% 17.45% !important;
  --nextui-success-900: 145 77.78% 8.82% !important;
  --nextui-success-foreground: 0 0% 0% !important;
  --nextui-success: 145 79.46% 43.92% !important;
  --nextui-warning-50: 54 91.67% 95.29% !important;
  --nextui-warning-100: 37 91.3% 90.98% !important;
  --nextui-warning-200: 37 91.3% 81.96% !important;
  --nextui-warning-300: 36 91.24% 73.14% !important;
  --nextui-warning-400: 37 91.26% 64.12% !important;
  --nextui-warning-500: 37 91.27% 55.1% !important;
  --nextui-warning-600: 37 74.22% 44.12% !important;
  --nextui-warning-700: 36 73.96% 33.14% !important;
  --nextui-warning-800: 37 75% 21.96% !important;
  --nextui-warning-900: 37 75% 10.98% !important;
  --nextui-warning-foreground: 0 0% 0% !important;
  --nextui-warning: 37 91.27% 55.1% !important;
  --nextui-danger-50: 339.13 92% 95.1% !important;
  --nextui-danger-100: 340 91.84% 90.39% !important;
  --nextui-danger-200: 339 90% 80.39% !important;
  --nextui-danger-300: 339 90.6% 70.78% !important;
  --nextui-danger-400: 339 90% 60.78% !important;
  --nextui-danger-500: 339 90.36% 51.18% !important;
  --nextui-danger-600: 339 86.54% 40.78% !important;
  --nextui-danger-700: 339 85.99% 30.78% !important;
  --nextui-danger-800: 339 86.54% 20.39% !important;
  --nextui-danger-900: 340 84.91% 10.39% !important;
  --nextui-danger-foreground: 0 0% 100% !important;
  --nextui-danger: 339 90.36% 51.18% !important;
  --nextui-divider-weight: 1px !important;
  --nextui-disabled-opacity: 0.5 !important;
  --nextui-font-size-tiny: 0.75rem !important;
  --nextui-font-size-small: 0.875rem !important;
  --nextui-font-size-medium: 1rem !important;
  --nextui-font-size-large: 1.125rem !important;
  --nextui-line-height-tiny: 1rem !important;
  --nextui-line-height-small: 1.25rem !important;
  --nextui-line-height-medium: 1.5rem !important;
  --nextui-line-height-large: 1.75rem !important;
  --nextui-radius-small: 8px !important;
  --nextui-radius-medium: 12px !important;
  --nextui-radius-large: 14px !important;
  --nextui-border-width-small: 1px !important;
  --nextui-border-width-medium: 2px !important;
  --nextui-border-width-large: 3px !important;
  --nextui-box-shadow-small: 0px 0px 5px 0px rgb(0 0 0 / 0.02) 0px 2px 10px 0px
    rgb(0 0 0 / 0.06) 0px 0px 1px 0px rgb(0 0 0 / 0.3) !important;
  --nextui-box-shadow-medium: 0px 0px 15px 0px rgb(0 0 0 / 0.03) 0px 2px 30px
    0px rgb(0 0 0 / 0.08) 0px 0px 1px 0px rgb(0 0 0 / 0.3) !important;
  --nextui-box-shadow-large: 0px 0px 30px 0px rgb(0 0 0 / 0.04) 0px 30px 60px
    0px rgb(0 0 0 / 0.12) 0px 0px 1px 0px rgb(0 0 0 / 0.3) !important;
  --nextui-hover-opacity: 0.8 !important;
}
