/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 * 
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);

  --brand-default: #678;
  --brand-500px: #0099e5;
  --brand-about-me: #00a98f;
  --brand-adidas: #000000;
  --brand-adobe: #ff0000;
  --brand-adyen: #0abf53;
  --brand-adzuna: #279b37;
  --brand-aer-lingus: #008374;
  --brand-aetna: #d20962;
  --brand-aiesec: #037ef3;
  --brand-aim: #ffd900;
  --brand-airbnb: #fd5c63;
  --brand-airbus: #74d2e7;
  --brand-akamai: #0099cc;
  --brand-alcon: #0079c1;
  --brand-algolia: #050f2c;
  --brand-alibaba: #ff6a00;
  --brand-alienware: #0c3866;
  --brand-alphabet: #ed1c24;
  --brand-amazon: #ff9900;
  --brand-american-express: #002663;
  --brand-american-red-cross: #ed1b2e;
  --brand-amp: #1c79c0;
  --brand-android: #a4c639;
  --brand-angies-list: #7fbb00;
  --brand-angularjs: #b52e31;
  --brand-answers: #136ad5;
  --brand-aol: #ff0b00;
  --brand-aparat: #ea1d5d;
  --brand-arch-linux: #1793d1;
  --brand-arizona-state-university-asu: #990033;
  --brand-arriva: #004d73;
  --brand-arriva-danmark: #004d73;
  --brand-ars-technica: #ff4e00;
  --brand-asana: #3be8b0;
  --brand-askfm: #db3552;
  --brand-associated-press: #ff322e;
  --brand-att: #00a8e0;
  --brand-atlanta-falcons: #000000;
  --brand-atlantic-coast-conference-acc: #013ca6;
  --brand-atlassian: #003366;
  --brand-atos: #0066a1;
  --brand-audi: #ffffff;
  --brand-auth0: #16214d;
  --brand-avast: #ff7800;
  --brand-avira: #d40000;
  --brand-baidu: #de0f17;
  --brand-bandcamp: #629aa9;
  --brand-barclays: #00aeef;
  --brand-barnes-noble: #2a5934;
  --brand-basecamp: #b3dcff;
  --brand-beats-by-dre: #e01f3d;
  --brand-bebo: #e04646;
  --brand-behance: #1769ff;
  --brand-best-buy: #003b64;
  --brand-big-cartel: #a0ac48;
  --brand-bing: #ffb900;
  --brand-bitbucket: #205081;
  --brand-bitly: #ee6123;
  --brand-blackberry: #005387;
  --brand-blockchain: #123962;
  --brand-blogger: #f57d00;
  --brand-boeing: #0033a1;
  --brand-boise-state-university: #09347a;
  --brand-bombardier: #8996a0;
  --brand-booking-com: #003580;
  --brand-booqable: #2b80ff;
  --brand-bower: #ffcc2f;
  --brand-box: #0061d5;
  --brand-boy-scouts-of-america: #ce1126;
  --brand-british-airways: #075aaa;
  --brand-brt: #c90f23;
  --brand-bt: #d52685;
  --brand-buffer: #168eea;
  --brand-bulma: #00d1b2;
  --brand-burger-king: #ec1c24;
  --brand-buzzfeed: #ee3322;
  --brand-bynder: #00aaff;
  --brand-cadbury: #472f92;
  --brand-canon: #bc0024;
  --brand-canva: #00c4cc;
  --brand-capital-one: #004977;
  --brand-carbonmade: #613854;
  --brand-carrefour: #00387b;
  --brand-carrot: #388ed1;
  --brand-cartoon-network: #00aeef;
  --brand-case-mate: #84754e;
  --brand-change-org: #ec2c22;
  --brand-charity-water: #ffc907;
  --brand-cheddar: #ff7243;
  --brand-clas-ohlson: #60afdc;
  --brand-clemson-university: #f66733;
  --brand-cloob: #213e97;
  --brand-cloudflare: #f38020;
  --brand-cnbc: #292526;
  --brand-cnn: #cc0000;
  --brand-coca-cola: #ed1c16;
  --brand-code-school: #616f67;
  --brand-codecademy: #f65a5b;
  --brand-codepen: #0ebeff;
  --brand-connexxion: #d2ea32;
  --brand-constant-contact: #439fd3;
  --brand-continental-ag: #ffa500;
  --brand-courtyard: #689550;
  --brand-craft-cms: #da5a47;
  --brand-creative-commons: #b62b6e;
  --brand-creative-market: #8ba753;
  --brand-crowdin: #30660f;
  --brand-crowne-plaza: #830051;
  --brand-crunchbase: #2292a7;
  --brand-culvers: #005696;
  --brand-cunard: #1d1d1b;
  --brand-cvs: #cc0000;
  --brand-dailymotion: #00aaff;
  --brand-daimler: #263f6a;
  --brand-datadog: #774aa4;
  --brand-dealhack: #095280;
  --brand-debian: #a80030;
  --brand-deezer: #ff0000;
  --brand-delectable: #334858;
  --brand-delicious: #3399ff;
  --brand-deliveroo: #00c1b2;
  --brand-dell: #0085c3;
  --brand-delta-airlines: #c8102e;
  --brand-dental-plans: #f99104;
  --brand-designer-news: #2d72d9;
  --brand-designmoo: #e64b50;
  --brand-deutsche-bahn: #ff0000;
  --brand-dev-to: #0a0a0a;
  --brand-deviantart: #05cc47;
  --brand-devour: #ff0000;
  --brand-dewalt: #febd17;
  --brand-dhl: #ba0c2f;
  --brand-diebold: #007dc3;
  --brand-digg: #005be2;
  --brand-digital-ocean: #008bcf;
  --brand-dindr: #fdb94e;
  --brand-direct-energy: #f05d21;
  --brand-directv: #00a6d6;
  --brand-discogs: #000000;
  --brand-discord: #5865f2;
  --brand-dish-network: #ec1944;
  --brand-disney-xd: #0af167;
  --brand-disqus: #2e9fff;
  --brand-django: #092e20;
  --brand-docker: #0db7ed;
  --brand-dominos: #0b648f;
  --brand-dow: #e80033;
  --brand-dribbble: #444444;
  --brand-dropbox: #007ee5;
  --brand-droplr: #5654a4;
  --brand-drupal: #0077c0;
  --brand-duckduckgo: #e37151;
  --brand-duke-university: #001a57;
  --brand-dunked: #2da9d7;
  --brand-duolingo: #7ac70c;
  --brand-dwolla: #ff7404;
  --brand-etrade: #6633cc;
  --brand-e4: #6d1d7c;
  --brand-easy-jet: #ff6600;
  --brand-ebay: #e53238;
  --brand-el-al: #131137;
  --brand-elance: #0d69af;
  --brand-ello: #000000;
  --brand-ember: #f23819;
  --brand-emma: #314855;
  --brand-endomundo: #87aa14;
  --brand-engadget: #40b3ff;
  --brand-envato: #82b541;
  --brand-epam: #39c2d7;
  --brand-epictions: #ff2052;
  --brand-ericsson: #002561;
  --brand-esl: #0d9ddb;
  --brand-espn: #ff0033;
  --brand-estimote: #6a9c84;
  --brand-etsy: #d5641c;
  --brand-evaneos: #33cc99;
  --brand-eventbrite: #ff8000;
  --brand-evernote: #2dbe60;
  --brand-execucar: #203143;
  --brand-eztalks: #00a0e9;
  --brand-fab-com: #dd0017;
  --brand-facebook: #1877f2;
  --brand-fairfield-inn-suites: #6caddf;
  --brand-fairmont: #a6a685;
  --brand-famo-us: #fa5c4f;
  --brand-fancy: #3098dc;
  --brand-fedex: #4d148c;
  --brand-feedly: #2bb24c;
  --brand-fendi: #f9b949;
  --brand-ferrari: #e32119;
  --brand-fiat: #96172e;
  --brand-film4: #000000;
  --brand-firefox: #e66000;
  --brand-fiskars: #ff8e00;
  --brand-fitbit: #4cc2c4;
  --brand-five-guys: #ed174f;
  --brand-fiverr: #00b22d;
  --brand-fivethirtyeight: #ed713a;
  --brand-flattr: #f67c1a;
  --brand-flavors-me: #f10087;
  --brand-flickr: #0063dc;
  --brand-flipboard: #e12828;
  --brand-flixster: #2971b2;
  --brand-fluid-ui: #3fa9f5;
  --brand-follr: #4dc9f6;
  --brand-fontawesome: #228ae6;
  --brand-ford: #1c396d;
  --brand-4ormat: #ee3440;
  --brand-forrst: #5b9a68;
  --brand-foursquare: #f94877;
  --brand-freecodecamp: #006400;
  --brand-friend2friend: #0f99d6;
  --brand-gallaudet-university: #00457c;
  --brand-gannett: #009bff;
  --brand-garmin: #007cc3;
  --brand-garuda: #484848;
  --brand-generatepress: #1b212b;
  --brand-geocaching: #4a742c;
  --brand-georgia-southern-university: #041e42;
  --brand-ghost: #212425;
  --brand-gibson: #000000;
  --brand-gimmebar: #d6156c;
  --brand-github: #4078c0;
  --brand-gitlab: #fca326;
  --brand-gitter: #46bc99;
  --brand-gittip: #663300;
  --brand-glaxosmithkline: #f36f21;
  --brand-godaddy: #7db701;
  --brand-goethe: #a5c500;
  --brand-gogo: #e80029;
  --brand-goodreads: #553b08;
  --brand-google: #4285f4;
  --brand-google-allo: #fbbc05;
  --brand-google-duo: #4285f4;
  --brand-google-plus: #dd4b39;
  --brand-gospel-for-asia: #099d84;
  --brand-gravatar: #1e8cbe;
  --brand-gravit: #e30061;
  --brand-gwr: #0b2d27;
  --brand-greenhouse: #00b2a9;
  --brand-groupon: #82b548;
  --brand-grunt: #fba919;
  --brand-gucci: #8f1010;
  --brand-gumtree: #72ef36;
  --brand-gvb: #0863b5;
  --brand-hacker-news: #ff4000;
  --brand-hangouts: #0f9d58;
  --brand-happn: #0087b4;
  --brand-heineken: #008200;
  --brand-hellowallet: #0093d0;
  --brand-help-scout: #3197d6;
  --brand-heroku: #c9c3e6;
  --brand-hewlett-packard-enterprise: #00b388;
  --brand-hi5: #fd9827;
  --brand-highfive: #a26eea;
  --brand-home-depot: #f96302;
  --brand-homeaway: #2a6ebb;
  --brand-hootsuite: #003265;
  --brand-houzz: #7ac142;
  --brand-hp: #0096d6;
  --brand-hsbc: #db0011;
  --brand-html5: #e34f26;
  --brand-hulu: #66aa33;
  --brand-humble-bundle: #cb272c;
  --brand-hyatt: #6d6e71;
  --brand-ibm: #006699;
  --brand-icons8: #32c24d;
  --brand-ideal: #cc0066;
  --brand-identi-ca: #789240;
  --brand-ifttt: #33ccff;
  --brand-iheartradio: #c6002b;
  --brand-ikea: #ffcc00;
  --brand-imdb: #f5de50;
  --brand-imgur: #85bf25;
  --brand-indeed: #2164f4;
  --brand-indiegogo: #eb1478;
  --brand-ing: #ff6200;
  --brand-instacart: #60ab59;
  --brand-instagram: #405de6;
  --brand-instapage: #0d1a2b;
  --brand-instapaper: #000000;
  --brand-intel: #0f7dc2;
  --brand-internet-society: #0c1c2c;
  --brand-intuit: #365ebf;
  --brand-invision: #ff3366;
  --brand-ios: #5fc9f8;
  --brand-israel-railways: #1e1f56;
  --brand-issuu: #f36d5d;
  --brand-istock: #fe423f;
  --brand-javascript: #f7df1e;
  --brand-jawbone: #000000;
  --brand-jbl: #ff6600;
  --brand-jetpack: #669c34;
  --brand-joomla: #f44321;
  --brand-joyent: #ff6600;
  --brand-jquery: #0769ad;
  --brand-kaspersky-lab: #006c54;
  --brand-keeeb: #00a9c0;
  --brand-khan-academy: #9cb443;
  --brand-kia: #c21a30;
  --brand-kickstarter: #2bde73;
  --brand-kik: #82bc23;
  --brand-kippt: #d51007;
  --brand-kitkat: #d70021;
  --brand-kiva: #63a541;
  --brand-kiwipay: #00b0df;
  --brand-klm: #00a1e4;
  --brand-knight-foundation: #000000;
  --brand-lamborghini: #ddb321;
  --brand-laravel: #f55247;
  --brand-lastfm: #d51007;
  --brand-lastpass: #d32d27;
  --brand-lego: #f6ec35;
  --brand-line: #00c300;
  --brand-linkedin: #0a66c2;
  --brand-livestream: #cf202e;
  --brand-lloyds: #d81f2a;
  --brand-localbitcoins-com: #006fbf;
  --brand-login-radius: #008ecf;
  --brand-lomo: #eb0028;
  --brand-london-underground: #000099;
  --brand-lowes: #004990;
  --brand-lumo: #576396;
  --brand-lyft: #ff00bf;
  --brand-magento: #f46f25;
  --brand-mail-ru: #168de2;
  --brand-mailchimp: #239ab9;
  --brand-manjaro-linux: #34be5b;
  --brand-mapbox: #3bb2d0;
  --brand-massachusetts-institute-of-technology: #a31f34;
  --brand-massy-group: #004a77;
  --brand-mastercard: #cc0000;
  --brand-mcdonalds: #bd0017;
  --brand-medium: #00ab6c;
  --brand-meetup: #e0393e;
  --brand-meijer: #0a4d8c;
  --brand-mercadolibre-com: #ffe600;
  --brand-messenger: #0084ff;
  --brand-meta: #0082fb;
  --brand-msu: #18453b;
  --brand-microsoft: #f65314;
  --brand-microsoft-band: #783bd2;
  --brand-microsoft-office: #ea3e23;
  --brand-microsoft-surface: #0078d7;
  --brand-milligram: #9b4dca;
  --brand-mixcloud: #52aad8;
  --brand-mixpanel: #a086d3;
  --brand-mlb: #000088;
  --brand-mobilink: #ee1d23;
  --brand-mojang: #db1f29;
  --brand-mollie: #c6d6df;
  --brand-mongodb: #589636;
  --brand-montclair-state-university: #ce1141;
  --brand-more4: #949483;
  --brand-motorola: #5c92fa;
  --brand-mozilla: #c13832;
  --brand-musixmatch: #ff6050;
  --brand-muut: #1fadc5;
  --brand-myanimelist: #2e51a2;
  --brand-myspace: #000000;
  --brand-mysql: #00758f;
  --brand-n26: #2b697a;
  --brand-nanowrimo: #93dee8;
  --brand-nasa: #fc3d21;
  --brand-nascar: #ffd659;
  --brand-national-geographic: #ffcc00;
  --brand-nationwide: #0071bf;
  --brand-nbc: #e1ac26;
  --brand-nc-state-university: #cc0000;
  --brand-nest: #00afd8;
  --brand-netflix: #e50914;
  --brand-netvibes: #39bd00;
  --brand-new-balance: #ce2724;
  --brand-new-york-post: #cc3333;
  --brand-nexar: #fbb040;
  --brand-nexmo: #0077c8;
  --brand-nextdoor: #19975d;
  --brand-nfl: #013369;
  --brand-nhs: #005eb8;
  --brand-nike-football: #504847;
  --brand-nikefuel: #4bad31;
  --brand-ning: #75af42;
  --brand-ninjas-in-pyjamas: #a98c66;
  --brand-nintendo: #e60012;
  --brand-node-js: #215732;
  --brand-nokia: #124191;
  --brand-norsan-media: #0390d8;
  --brand-northern-arizona-university: #003466;
  --brand-northwestern-university: #4e2a84;
  --brand-novartis: #765438;
  --brand-npm: #cb3837;
  --brand-ns: #ffc61e;
  --brand-nvidia: #76b900;
  --brand-nzxt: #51007a;
  --brand-obb: #e2002a;
  --brand-odnoklassniki: #ed812b;
  --brand-office-sway: #008272;
  --brand-oktopost: #001f2d;
  --brand-olark: #8d989a;
  --brand-olympus: #08107b;
  --brand-oneplus: #eb0029;
  --brand-onshape: #1b5faa;
  --brand-oovoo: #eeaf00;
  --brand-opera: #cc0f16;
  --brand-oracle: #ff0000;
  --brand-oregon-state-university: #dc4405;
  --brand-overstock: #c7202c;
  --brand-overwolf: #060606;
  --brand-oxford-university-press: #002147;
  --brand-panasonic: #0f58a8;
  --brand-pandora: #005483;
  --brand-path: #ee3423;
  --brand-patreon: #f96854;
  --brand-paymill: #f05000;
  --brand-paymo: #22d0b8;
  --brand-paypal: #003087;
  --brand-pearson: #ed6b06;
  --brand-penguin-books: #ff6900;
  --brand-peopleperhour-com: #ee7200;
  --brand-pepsi: #e32934;
  --brand-periscope: #3aa4c6;
  --brand-pfizer: #0093d0;
  --brand-philips: #0e5fd8;
  --brand-photobucket: #0ea0db;
  --brand-php: #8892be;
  --brand-pikabu: #5dbe57;
  --brand-pinboard: #0000e6;
  --brand-pinterest: #e60023;
  --brand-pizza-hut: #ee3124;
  --brand-plasso: #6585ed;
  --brand-plaxo: #414f5a;
  --brand-playstation: #003087;
  --brand-plex: #e5a00d;
  --brand-pocket: #ef4056;
  --brand-poczta-polska: #d52b1e;
  --brand-polariod: #00a3e2;
  --brand-portfolium: #0099ff;
  --brand-postman: #ef5b25;
  --brand-postmates: #000000;
  --brand-prestashop: #df0067;
  --brand-prezi: #318bff;
  --brand-priceline: #1885bf;
  --brand-princeton-university: #ee7f2d;
  --brand-product-hunt: #da552f;
  --brand-protonmail: #505264;
  --brand-puma: #000000;
  --brand-purdue-university: #c28e0e;
  --brand-python: #ffde57;
  --brand-qantas-airlines: #e0001b;
  --brand-qonto: #6b5aed;
  --brand-qualtrics: #e10019;
  --brand-quizlet: #4257b2;
  --brand-quizup: #ff5454;
  --brand-quora: #a82400;
  --brand-quote-fm: #66ceff;
  --brand-raspberry-pi: #c7053d;
  --brand-razer: #00ff00;
  --brand-rdio: #007dc3;
  --brand-remax: #e11b22;
  --brand-react: #00d8ff;
  --brand-readability: #990000;
  --brand-realex-payments: #f29023;
  --brand-red-hat: #cc0000;
  --brand-reddit: #ff4500;
  --brand-redfin: #a02021;
  --brand-redox: #0a2239;
  --brand-renaissance-hotels: #000000;
  --brand-rentler: #ed1c27;
  --brand-residence-inn: #b32317;
  --brand-reverbnation: #e43526;
  --brand-rochester-institute-of-technology: #f36e21;
  --brand-rit: #f76902;
  --brand-rockpack: #0ba6ab;
  --brand-roku: #6f1ab1;
  --brand-rolls-royce: #680021;
  --brand-roo-kids: #e22027;
  --brand-roon: #62b0d9;
  --brand-rosetta-stone: #0098db;
  --brand-rounds: #fdd800;
  --brand-rowan-university: #3f1a0a;
  --brand-cssd: #1b5692;
  --brand-royal-mail: #ff0000;
  --brand-ruby: #cc342d;
  --brand-ruby-on-rails: #cc0000;
  --brand-rutgers-university: #cc0033;
  --brand-ryanair: #073590;
  --brand-sabre: #e50000;
  --brand-sage: #00dc06;
  --brand-sainsburys: #ec8a00;
  --brand-salesforce: #1798c1;
  --brand-samsung: #1428a0;
  --brand-san-francisco-giants: #fd5a1e;
  --brand-sap: #003366;
  --brand-scouts-uk: #4d2177;
  --brand-scribd: #1a7bba;
  --brand-septa: #1f4fa3;
  --brand-seton-hall-university: #004488;
  --brand-shazam: #0088ff;
  --brand-sherwin-williams: #0168b3;
  --brand-shopify: #96bf48;
  --brand-shopmium: #f01f74;
  --brand-siemens: #009999;
  --brand-skillshare: #f26b21;
  --brand-skoda: #00800d;
  --brand-skype: #00aff0;
  --brand-skywest: #00338d;
  --brand-slack: #6ecadc;
  --brand-slideshare: #0077b5;
  --brand-slipcase: #7c9cb0;
  --brand-smashing-magazine: #e53b2c;
  --brand-snagajob: #f36f21;
  --brand-snapchat: #fffc00;
  --brand-soapui: #6cb33f;
  --brand-socialbro: #29c4d0;
  --brand-softonic: #008ace;
  --brand-songkick: #f80046;
  --brand-sonicbids: #ff6600;
  --brand-sonos: #d8a158;
  --brand-sony: #000000;
  --brand-soulcycle: #fedf00;
  --brand-soundcloud: #ff8800;
  --brand-spoken: #fc00c1;
  --brand-spotify: #1db954;
  --brand-sprint: #ffe100;
  --brand-sprout-social: #75dd66;
  --brand-square-cash: #28c101;
  --brand-squarespace: #222222;
  --brand-stack-exchange: #1e5397;
  --brand-stackoverflow: #f48024;
  --brand-staples: #cc0000;
  --brand-starbucks: #00704a;
  --brand-state-farm: #e1261c;
  --brand-status-chart: #d7584f;
  --brand-steam: #00adee;
  --brand-sterling-hotels: #3b5a6f;
  --brand-stockton-university: #000000;
  --brand-storyful: #f97200;
  --brand-strava: #fc4c02;
  --brand-streamable: #0f90fa;
  --brand-stripe: #00afe1;
  --brand-stubhub: #004b91;
  --brand-studyblue: #00afe1;
  --brand-stumbleupon: #eb4924;
  --brand-subway: #489e3b;
  --brand-sugarcrm: #e61718;
  --brand-suntrust: #00447c;
  --brand-supershuttle: #4285f4;
  --brand-swarm: #f06d1f;
  --brand-t-mobile: #e20074;
  --brand-tagstr: #e74635;
  --brand-taiga: #444444;
  --brand-target: #cc0000;
  --brand-teamspeak: #2580c3;
  --brand-technorati: #339900;
  --brand-ted: #e62b1e;
  --brand-telegram: #0088cc;
  --brand-tvtag: #e92c4c;
  --brand-temple: #a41e35;
  --brand-tesco: #ee1c2e;
  --brand-tesla: #cc0000;
  --brand-texas-am-university: #500000;
  --brand-texas-tech-university: #cc0000;
  --brand-the-audience-awards: #ee8421;
  --brand-the-college-of-new-jersey: #293f6f;
  --brand-the-next-web: #ff3c1f;
  --brand-the-ritz-carlton: #006b95;
  --brand-the-sun: #ed1c24;
  --brand-the-sun-goals: #00745e;
  --brand-the-sun-perks: #8560a8;
  --brand-the-times: #000000;
  --brand-thomson-reuters: #ff8000;
  --brand-tivo: #da3d34;
  --brand-totaljobs: #66bd00;
  --brand-toyota: #eb0a1e;
  --brand-treehouse: #6fbc6d;
  --brand-trello: #0079bf;
  --brand-tripadvisor: #00af87;
  --brand-trulia: #5eab1f;
  --brand-trustpilot: #e12729;
  --brand-tumblr: #35465c;
  --brand-tunngle: #c30f24;
  --brand-turbotax: #355ebe;
  --brand-twentythree: #1ec95b;
  --brand-twitch: #9146ff;
  --brand-twitter: #1da1f2;
  --brand-typekit: #98ce1e;
  --brand-typepad: #d2de61;
  --brand-typescript: #3178c6;
  --brand-typo3: #ff8700;
  --brand-uber: #09091a;
  --brand-ubuntu: #dd4814;
  --brand-uc-berkeley: #003262;
  --brand-ucsf: #052049;
  --brand-united-way: #10167f;
  --brand-unity: #222c37;
  --brand-universitat-hamburg: #e2001a;
  --brand-university-at-albany: #46166b;
  --brand-university-at-buffalo: #005bbb;
  --brand-university-of-alberta: #007c41;
  --brand-university-of-arizona: #cc0033;
  --brand-university-of-cambridge: #d6083b;
  --brand-university-of-cincinnati: #e00122;
  --brand-university-of-dayton: #ce1141;
  --brand-university-of-florida: #fa4616;
  --brand-university-of-illinois-urbana-champaign: #131f33;
  --brand-university-of-kentucky: #005daa;
  --brand-university-of-michigan: #00274c;
  --brand-university-of-north-carolina: #4b9cd3;
  --brand-university-of-oregon: #154733;
  --brand-university-of-rochester: #ffd100;
  --brand-university-of-texas: #bf5700;
  --brand-university-of-victoria: #005493;
  --brand-university-of-washington: #4b2e83;
  --brand-university-of-waterloo: #ffd54f;
  --brand-university-of-wisconsin-milwaukee: #ffbd00;
  --brand-univision: #c822b0;
  --brand-ups: #351c15;
  --brand-usps: #333366;
  --brand-ustream: #3388ff;
  --brand-verizon: #ff0000;
  --brand-viadeo: #f07355;
  --brand-viber: #59267c;
  --brand-vidme: #f82a53;
  --brand-viki: #3c9cd7;
  --brand-vimeo: #162221;
  --brand-vine: #00b488;
  --brand-virb: #1e91d0;
  --brand-virgin-media: #c3092d;
  --brand-virgin-money: #cc0000;
  --brand-visa: #1a1f71;
  --brand-visualcv: #31577a;
  --brand-visually: #14acf2;
  --brand-vkontakte: #45668e;
  --brand-vodafone: #e60000;
  --brand-volvo: #003057;
  --brand-vue-js: #42b883;
  --brand-wake-forest-university: #9e7e38;
  --brand-walgreens: #e31837;
  --brand-walmart: #007dc6;
  --brand-warby-parker: #414b56;
  --brand-wave-apps: #1c2d37;
  --brand-webzunder: #eea642;
  --brand-wechat: #7bb32e;
  --brand-wendys: #e2203d;
  --brand-western-digital: #005195;
  --brand-whatsapp: #075e54;
  --brand-whatsbroadcast: #4aae20;
  --brand-whoosnap-designer: #2fa5d6;
  --brand-wikimedia: #339966;
  --brand-wikipedia: #000000;
  --brand-windows: #0078d7;
  --brand-windows-phone: #68217a;
  --brand-woocommerce: #96588a;
  --brand-wooga: #5b009c;
  --brand-wordpress: #21759b;
  --brand-wordpress-com: #0087be;
  --brand-world-organisation-of-the-scout-movement-wosm: #622599;
  --brand-worldline: #0066a1;
  --brand-wufoo: #e66760;
  --brand-wunderlist: #2b96f1;
  --brand-wwe: #d7182a;
  --brand-xavier-university: #0c2340;
  --brand-xbox: #52b043;
  --brand-xda-developers: #f59714;
  --brand-xero: #06b3e8;
  --brand-xfinity: #6138f5;
  --brand-xing: #026466;
  --brand-xy-gaming: #3299cc;
  --brand-y-combinator: #ff4000;
  --brand-yahoo: #410093;
  --brand-yandex: #ffcc00;
  --brand-yellow-pages: #ffd400;
  --brand-yelp: #af0606;
  --brand-yii-framework: #d8582b;
  --brand-yo: #9b59b6;
  --brand-youtube: #ff0000;
  --brand-yummly: #e16120;
  --brand-zapier: #ff4a00;
  --brand-zendesk: #00363d;
  --brand-zerply: #9dbc7a;
  --brand-zillow: #1277e1;
  --brand-zomato: #cb202d;
  --brand-zoom: #2d8cff;
  --brand-zopim: #ff9d3b;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg,
      #bd34fe 30%,
      #41d1ff);

  --vp-home-hero-image-background-image: linear-gradient(-45deg,
      #bd34fe 50%,
      #47caff 50%);
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

.clip {
  background: linear-gradient(109deg, #5c22fa, #c9cfc8, #eb796c, #4c349c) !important;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: var(--vp-home-hero-name-color);
  background-size: 240% 240%;
  animation: gradient-animation 12s ease infinite;
}

.gradient-background-primary {
  background: linear-gradient(109deg, #5c22fa, #c9cfc8, #eb796c, #4c349c);
  background-size: 240% 240%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}