:root {

    /**
     * 主题色
     * -------------------------------------------------------------------------- */

    --vp-c-brand-1: rgba(233, 170, 43, 1);              /* 链接颜色、强调色 */
    --vp-c-brand-2: rgba(255, 215, 0, 1);               /* 链接、按钮 hover 颜色 */
    --vp-c-brand-3: rgba(78, 136, 202, 1);              /* 背景色、边框色 */
    --vp-c-brand-soft: rgba(183, 233, 255, 1);          /* 辅助色 */

    /**
     * 文本颜色
     * -------------------------------------------------------------------------- */

    --vp-c-text-1: rgba(51, 51, 51, 1);                 /* 主要文本 */
    --vp-c-text-2: rgba(92, 92, 92, 1);                 /* 次要文本 */
    --vp-c-text-3: rgba(0, 91, 153, 1);                 /* 辅助文本 */

    /**
     * 背景色
     * -------------------------------------------------------------------------- */

    --vp-c-bg: rgba(235, 235, 235, 1);                  /* 主体背景 */
    --vp-nav-bg-color: rgba(235, 235, 235, 1);          /* 导航栏背景 */
    --vp-nav-screen-bg-color: rgba(235, 235, 235, 1);   /* 移动端导航栏 */
    --vp-local-nav-bg-color: rgba(235, 235, 235, 1);    /* 页面内导航栏 */
    --vp-sidebar-bg-color: rgba(194, 194, 194, 1);      /* 侧边栏背景 */
    --vp-code-block-bg: rgba(235, 235, 235, 1);         /* 代码块背景 */
}

[data-theme="dark"] {

    /**
     * 主题色
     * -------------------------------------------------------------------------- */

    --vp-c-brand-1: #8cccd5;                            /* 链接颜色、强调色 */
    --vp-c-brand-2: #6aa1b7;                            /* 链接、按钮 hover 颜色 */
    --vp-c-brand-3: #5086a1;                            /* 背景色、边框色 */
    --vp-c-brand-soft: rgba(131, 208, 218, 0.314);      /* 辅助色 */

    /**
     * 文本颜色
     * -------------------------------------------------------------------------- */

    --vp-c-text-1: rgba(255, 255, 245, 0.86);           /* 主要文本 */
    --vp-c-text-2: rgba(235, 235, 245, 0.6);            /* 次要文本 */
    --vp-c-text-3: rgba(235, 235, 245, 0.38);           /* 辅助文本 */

    /**
     * 背景色
     * -------------------------------------------------------------------------- */

    --vp-c-bg: #1b1b1f;                                 /* 主体背景 */
    --vp-nav-bg-color: #1b1b1f;                         /* 导航栏背景 */
    --vp-nav-screen-bg-color: #1b1b1f;                  /* 移动端导航栏 */
    --vp-local-nav-bg-color: #1b1b1f;                   /* 页面内导航栏 */
    --vp-sidebar-bg-color: #161618;                     /* 侧边栏背景 */
    --vp-code-block-bg: #202127;                        /* 代码块背景 */
}
